<!-- The form for a new onthemarket object where the user is selling stocks
/ what a user creates inorder to perform a transaction -->

<%= form_for @onthemarket, url: user_portfolio_onthemarkets_path do |f| %>
  <div class="form-group">
    <%= f.hidden_field :buying, :value => params[:buying] %>
  </div>
  <div class = "form-group">
    <%= f.label :stocks_on_market %>
    <%= f.select :stocks_on_market, [Stock.find(1).symbol => 100], class: 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :least_possible %>
    <%= f.select :least_possible, [Stock.find(1).symbol => 100], {}, class: 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :portfolio_id, :value => current_user.id %>
  </div>
  <div class="form-group">
    <%= f.submit "Propose your transaction", class: 'btn btn-primary' %>
  </div>
<% end %>