<!-- The form for a new onthemarket object where the user is selling stocks
/ what a user creates inorder to perform a transaction -->

<div class = "dropdown text-center", style= "width:100%">
  <button class = "dropdown-btn text-center", style= "width:100%">Your Available Stocks</button>
  <div class="dropdown-content", style= "width:100%">
    <table style="width:100%">
      <tr>
        <th>  Stock Name</th>
        <th class = "text-center">Stock Symbol</th> 
        <th class = "text-right">Available to sell  </th>
      </tr>
      <% array_of_symbols = [] %>
      <% array_of_symbols = Stock.where(portfolio_id: current_user.id).all.map{|t| t.symbol}.uniq %>
      <% array_of_symbols.each do |stk| %>
        <tr>
          <% stkobjs = Stock.where(symbol: stk) %>
          <th>  <%= stkobjs.first.stock_name %></th>
          <th class = "text-center"><%= stk %></th> 
          <th class = "text-right"><%= stkobjs.where(portfolio_id: current_user.portfolio.id).count %></th>
        </tr>
      <% end %>
     
      
    </table>
  </div>
</div>

<%= form_for @onthemarket, url: user_portfolio_onthemarkets_path do |f| %>
  <div class="form-group">
    <%= f.hidden_field :buying, :value => params[:buying] %>
  </div>
  <div class = "form-group">
    <%= f.label :stocks_on_market, 'Stock available to sell:' %>
    
    <%= f.select :stocks_on_market, array_of_symbols, required: true, class: 'form-control selling-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :ideal_number_sold, 'Ideal transaction quantity (Stk):' %> 
    <%= y = f.number_field :ideal_number_sold, min: 1, max: 999999, required: true, class: 'selling-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :price_per, 'Minimum price per stock ($/Stk):' %>
    <%= f.number_field :price_per, :step => 0.01, min: 0.01, required: true, class: 'selling-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :least_possible, 'Minimum sale quantity (Stk):' %>
    <%= f.number_field :least_possible, :step => 0.01, min: 0.01, required: true, class: 'selling-form'%>
  </div>
  <div class="form-group">
    <%= f.submit "Propose your transaction", class: 'btn btn-primary' %>
  </div>
<% end %>
