
<!-- form partial for purchasing stocks from the marketplace -->

<h3 class = "text-center">Stock Purchase</h3>
<br/>
<%= form_for @onthemarket, url: user_portfolio_onthemarkets_path do |f| %>
  <div class="form-group">
    <%= f.hidden_field :buying, :value => params[:buying] %>
  </div>
  <div class = "form-group">
    <%= f.label :stocks_on_market, 'Stock symbol to purchase:' %>
    <!-- This will be changed in the future. This right now will display all distinct stock symbols so that
    user can select which stock they wish to buy. The problem however is that only stocks on the market shoulld
    be displayed. So I will change this when i've built out some placeholder stocks on the market.-->
    <% array_of_symbols = [] %>
    <% array_of_symbols = Onthemarket.all.map{|t| t.stocks_on_market}.uniq %>
    
    <%= f.select :stocks_on_market, array_of_symbols, class: 'form-control buying-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :ideal_number_sold, 'Ideal transaction quantity (Stk):' %>
    <%= y = f.number_field :ideal_number_sold, min: 1, max: 999999, class: 'buying-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :price_per, 'Maximum price per stock ($/Stk):' %>
    <%= f.number_field :price_per, :step => 0.01, min: 0.01, max: current_user.portfolio.balance, class: 'buying-form' %>
  </div>
  <div class = "form-group">
    <%= f.label :least_possible, 'Minimum stock quantity for transaction:' %>
    <%= f.number_field :least_possible, min: 1, max: 999999, class: 'buying-form' %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :portfolio_id, :value => current_user.portfolio.id %>
  </div>
  <div class="form-group">
    <%= f.submit "Propose your transaction", class: 'btn btn-primary' %>
  </div>
<% end %>