
<div class = "container">
  <div class = "row">
      <div class = "col-lg-12">
        <div class = "col-md-4">
          <%= render '/shared/portfolioCondition' %>
        </div>
        <div class = "col-md-8">
          <div class = "well">
            <!-- A space to chart the value of the current_user's stocks over time -->
            <!-- User should select the stock they wish to view the chart for -->
            <h4 class = "text-center">Stocks owned by <%= current_user.portfolio.first_name %></h4>
            <% array_of_stocks = [] %>
            <%#?should this be uniq? ie. Stock.where(portfolio_id: current_user.portfolio.id).uniq.each %>
            <% Stock.where(portfolio_id: current_user.portfolio.id).each do |stk| %>
              <% array_of_stocks << stk.symbol %>
              <% array_of_stocks = array_of_stocks.uniq %>
            <% end %>
            
            <!-- I really should limit the db search return to just the sold_on and price_per to save on performance -->
            <% array_of_stocks.each do |stockSym| %>
              <% id_string = 'transactor_chart_' + stockSym %>
              <% @trans = Transactor.where(stock_symbol: stockSym) %>
              <%= content_tag :div, '', id: id_string, data: {transactors: @trans}%>
            <% end %>
            
            <!-- Select box whose options are the unique stock symbols owned by current_user -->
            <select id = "select-a-stock">
              <% for i in 0..array_of_stocks.length - 1 %>
                <option><%= array_of_stocks[i] %></option>
              <% end %>
            </select>
            
            <!-- Output chart here. Morris js requires the height parameter to be included -->
            <div id = 'chart-output' style="height: 250px;"></div>
            
          
          </div>
          <h4 class = "text-center well" id = 'on-the-rise'>Here will be a table(graph) of net_worth over time</h4>
          <h4 class = "text-center well">And here is a link to create a purchase or sale
          <!-- Here is a link to a form to create a marketplace transaction (object: onthemarket) -->
          <%= link_to "Create a marketplace transaction", new_user_portfolio_onthemarket_path(user_id: params[:id]) %>
          
          <br/>
          <%= link_to "Purchase stocks on the marketpalce", new_user_portfolio_onthemarket_path(buying: true, user_id: params[:id]), class: 'btn btn-success btn-lg btn-block' %>
          <br/>
          <br/>
          <% if current_user.portfolio.stocks.length != 0 %>
            <%= link_to "Sell stocks from your portfolio", new_user_portfolio_onthemarket_path(buying: false, user_id: params[:id]), class: 'btn btn-success btn-lg' %></h4>
          <% end %>
          <h4 class = "text-center well"> And here will be the stocks drop down menu</h4>
        </div>
      </div>
    </div>
  </div>
</div>