
<%= form_for @transactor, url: user_transactors_path(id: current_user.id), validate: true, html: {id: 'new-transactor-form'} do |f| %>
  <!-- create an instantiation of the onthemarket object the user is about to buy -->
  <% @otmobj = Onthemarket.find(params[:onthemarket]) %>
  <div class="form-group">
    <%= f.hidden_field :buyer_id, :value => current_user.id %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :seller_id, :value => @otmobj.portfolio_id %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :otm_id, :value => params[:onthemarket] %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :sold_on, :value => Time.now.strftime("%d/%m/%Y %H:%M") %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :stock_symbol, :value => @otmobj.stocks_on_market %>
  </div>
  <div class = "form-group">
    <%= f.hidden_field :price_per, :value => @otmobj.price_per %>
  </div>
  
  <div class = "row">
    <div class = "col-sm-6 well">
    
      <!-- a content_tag i'm using to transfer data from the otmobj to javascript -->
      <%= content_tag :div, id: "price-per-transactor-form", data: {price_per: @otmobj.price_per, ideal_number_sold: @otmobj.ideal_number_sold, current_balance: current_user.portfolio.balance} do %><% end %>
      <p class= 'inline-textbox'><b>Enter an ideal transaction quantity:</b></p>
      <input style="float:right" id= "transaction-quantity" type="number" min="<%= @otmobj.least_possible %>" max="<%= @otmobj.ideal_number_sold %>" step="1" value="<%= @otmobj.ideal_number_sold %>" />
      <!-- Injected html code goes here -->
      <div class = 'form-group', id = "calculate-transaction" ></div>
       
      
      <%# Quick purchase buttons will show different values depending on the onthemarket objects given to start the form %>
      <%# Transfer the value of the buttons to page specific js with content tags %>
      <br/><p class = 'inline-textbox'><b>Quick purchase:</b></p>
      <% ins = @otmobj.ideal_number_sold %><%# ins = "ideal number sold" or the most individual stocks the transaction could possibly involve %>
      <% lp = @otmobj.least_possible %><%# lp = "least possible" or the least number of individual stocks the transaction could possible involve %>
      
      
      <%# TAKE A LOOK AT --- something about the logic doesn't make sense for getting to the last possible elsif. Don't want to deal with right now! %>
      <% if ins >= 1000 && lp <= 1000 %>
        <br/>
        <div class = "row">
          
          <div class = "col-sm-4">
             <button><%= lp %></button>
          </div>
          <div class = "col-sm-4">
            <% if lp >= 100 %>
             <button>100</button>
            <% end %>
          </div>
          <div class = "col-sm-4">
             <button>1000</button>
          </div>
        </div>
      <% elsif ins >= 100 %>
        <br/>
        <div class = "row">
          
          <div class = "col-sm-4">
             <button>10</button>
          </div>
          <div class = "col-sm-4">
             <button>50</button>
          </div>
          <div class = "col-sm-4">
             <button>100</button>
          </div>
        </div>
      <% elsif  ins >= 10 %>
        <br/>
        <div class = "row">
          
          <div class = "col-sm-4">
             <button><%= ins/4 %></button>
          </div>
          <div class = "col-sm-4">
             <button><%= ins/2 %></button>
          </div>
          <div class = "col-sm-4">
             <button><%= ins %></button>
          </div>
        </div>
        
      <% elsif %>
        <br/>
        <div class = "col-sm-4" style = "text-align:right">
         <button id="quick-purchase-one"><%= ins %></button>
         
        </div>
        
      <% elsif%>
      <%# default if all else has failed and the numbers ins and lp are abnormally large %>
        <br/>
        <div class = "row">
          
          <div class = "col-sm-4">
             <button><%= ins/4 %></button>
          </div>
          <div class = "col-sm-4">
             <button><%= ins/2 %></button>
          </div>
          <div class = "col-sm-4">
             <button><%= ins %></button>
          </div>
        </div>
      <% end %>
      
    </div>
    
    
    <!-- A string of an array of stock_id's become the stocks_to_move object and indicate exactly which stocks are transfered in transaction -->
    <% @array_of_ids = Stock.where(symbol: @otmobj.stocks_on_market, portfolio_id: @otmobj.portfolio_id).ids %>
    <% require 'json' %>
    <% js_obj = @array_of_ids.to_json %>
    <%= f.hidden_field :stocks_to_move, :value => js_obj %>
  
    <div class = "col-sm-5 offset-sm-2" style="float:right">
      <h4 class= "text-center">Transaction</h4>
      <table style= 'width:100%'>
        
        <tr>
          <td>Cost Per Stock:</td>
          <td class = 'text-align-right'><%= sprintf('%.2f', @otmobj.price_per) %></td>
        </tr>
        <tr>
          <td>Stocks to be bought:</td>
          <td id = 'stocks-to-be-bought' class = 'text-align-right'></td>
           <!-- js is inserting the stocks to be bout value into this div -->
        </tr>
        <tr>
          <td>Transaction Cost:</td>
          <td id='costbox' class = 'text-align-right'></td>
        </tr>
        <tr>
          <td>---------------------------------------------------</td>
          <td>------------</td>
        </tr>
        <tr>
          <td>Current Balance: </th>
          <td class = 'text-align-right'><%= sprintf('%.2f', current_user.portfolio.balance) %></th>
        </tr>
        <tr>
          <td></td>
          <td id='costboxNeg' class = 'text-align-right'></td>
        </tr>
        <tr>
          <td></td>
          <td>------------</td>
        </tr>
        <tr>
          <td>Balance After Purchase:</td>
          <td id = 'balanceAfterPurchase' class = 'text-align-right'></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="form-group", id= 'form-submit-btn'>
    <%= f.submit "Confirm Purchase (There's no going back!)", class: 'btn btn-primary' %>
  </div>
<% end %>
