<!DOCTYPE html>
<html>
  <head>
    <title>Football Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '/', class: "navbar-brand" do %>
            <div id = "site-name-navbar">
              <i class="fas fa-futbol"></i>              
              Football Marketplace
            </div>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user != nil %>
              <li><%= link_to "Market", user_portfolio_onthemarkets_path(user_id: current_user.id) %></li>
            <% end %>
            <li><%= link_to "About", '/about' %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- End of navigation bar -->
    
    
    <%= yield %>
    
    
    <!-- Footer -->
    <footer class = 'footer text-center'>
      <div class = 'container'>
        <%= link_to "/", class: "footer-brand" do %>
          <i class="fal fa-futbol"></i>
          Football Marketplace 
        <% end %>
        |
        <%= link_to "#" do %>
          FAQ
        <% end %>
        |
        <%= link_to "https://vast-inlet-29334.herokuapp.com/" do %>          
          Developer's Site
        <% end %>
      </div>
    </footer>
    <!-- End of Footer -->
    
  </body>
</html>
